.headerComponent {
    background-color: rgb(234, 236, 134);
    width: 100%;
    border-radius: 20px;
    height: 100px;
    margin: 20px;

}

.header-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}